<section class="feature-list">
  <div class="feature-list__item florists">
    <div class="feature-list__item-info">
      <span>STORE SERVICES</span>
      <span>Florists</span>
      <p>
        At Mariposa Growers, we provide florists with the freshest, most vibrant
        flowers to create stunning arrangements that delight their customers.
        Our reliable deliveries and wide variety of blooms ensure you always
        have the perfect flowers for every occasion.
      </p>
    </div>
  </div>
  <div class="feature-list__item planners">
    <div class="feature-list__item-info">
      <span>EVENT SERVICES</span>
      <span>Event planners</span>
      <p>
        Make every event unforgettable with our high-quality flowers. Whether
        it’s a wedding, corporate event, or special celebration, Mariposa
        Growers offers the perfect blooms to match your vision. Fresh,
        beautiful, and delivered on time—every time.
      </p>
    </div>
  </div>
  <div class="feature-list__item gift-shops">
    <div class="feature-list__item-info">
      <span>SHOPS SERVICES</span>
      <span>Gift shops</span>
      <p>
        Elevate your gift shop’s offerings with our exquisite selection of
        flowers. From charming bouquets to elegant arrangements, our blooms add
        a touch of beauty and sophistication to any gift. Freshness and quality
        guaranteed.
      </p>
    </div>
  </div>
  <div class="feature-list__item bouquet">
    <div class="feature-list__item-info">
      <span>SHOP SERVICES</span>
      <span>Bouquet Makers</span>
      <p>
        Create breathtaking bouquets with our premium flowers. At Mariposa
        Growers, we supply bouquet makers with the finest blooms, ensuring every
        arrangement is a masterpiece. Fresh, long-lasting, and perfect for any
        occasion.
      </p>
    </div>
  </div>
  <div class="feature-list__item distributors">
    <div class="feature-list__item-info">
      <span>DISTRIBUTORS SERVICES</span>
      <span>Wholesalers & Distributors</span>
      <p>
        As a trusted partner for wholesalers and distributors, Mariposa Growers
        delivers consistent quality and freshness. Our wide range of flowers and
        reliable supply chain ensure you can meet the demands of your customers
        with confidence.
      </p>
    </div>
  </div>
</section>
