@use "./../../../styles/mixins" as *;

.contact {
  position: relative;
  &__container {
    display: grid;
    gap: 1rem;
    padding: 4rem 1rem;
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-image: url("../../../../public/images/contact.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: brightness(0.7);
      z-index: -1;
    }
    > p {
      font-size: 1.37rem;
      font-weight: 700;
      @include screen(small) {
        font-size: 2rem;
      }
    }
    > figure {
      max-width: 268px;
      margin: 0 auto;
    }
  }
}
