@use "./../../../styles/mixins" as *;

.contact {
  position: relative;
  &__container {
    display: grid;
    gap: 1rem;
    padding: 4rem 1rem;
    > p {
      grid-row: 3/4;
    }
    @include screen(med-small) {
      grid-template-columns: 1fr 1fr;
      > p {
        grid-row: 1/2;
        align-self: center;
      }
      app-form {
        grid-row: 1 / 3;
      }
    }
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-image: url("../../../../public/images/contact.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: brightness(0.7);
      z-index: -1;
    }
    > p {
      font-size: 1.37rem;
      @include screen(small) {
        font-size: 2rem;
        min-width: 320px;
      }
    }
    > figure {
      max-width: 268px;
      margin: 0 auto;
    }
  }
}
