<footer class="footer">
  <div class="content text-center">
    <div class="footer__info">
      <h6 class="footer__info-title">Ready to enhace your floral business?</h6>
      <div class="footer__contact">
        <span>3030 Enterprise CT, suite C, Vista CA 92081</span>
        <a href="mailto:sales@mariposagrowers.com">
          {{ "sales@mariposagrowers.com" }}
        </a>
      </div>
    </div>
    <span class="footer__copyright">
      Copyright - {{ year }} Mariposagrowers | All right reserved
    </span>
  </div>
</footer>
