@use "./../../../styles/mixins" as *;

%d-flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.header {
  position: fixed;
  width: 100%;
  padding: 3rem 1rem;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  @include screen(small) {
    padding: 1rem;
    app-menu {
      display: none;
    }
  }
  &__container {
    @extend %d-flex;
    align-items: center;
    @include screen(custom, max, 768) {
      justify-content: center;
    }
  }
  &__logo {
    max-width: 11rem;
    z-index: 1;
  }
  &__nav {
    flex-basis: 60%;
    @extend %d-flex;
    > a {
      font-size: 14px;
    }
    @include screen(custom, max, 768) {
      display: none;
    }
  }
}

.hidden {
  @include screen(small) {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
}

.color {
  background-color: rgba(44, 42, 41, 0.15);
  backdrop-filter: blur(16px);
  padding: 1rem;
}
