<section class="colaborate">
  <article class="colaborate__container">
    <div class="colaborate__info">
      <span>OUR PLATFORM</span>
      <h4 class="colaborate__title">Let’s colaborate!</h4>
      <p>
        Gain complimentary access to our
        <span>sales platform</span>
        , where you can effortlessly explore our available products and place
        orders with ease.
      </p>
      <button type="button" class="btn primary-button">Get sarted</button>
    </div>
    <figure>
      <img src="./images/colaborate.png" alt="Let’s colaborate!" />
    </figure>
  </article>
</section>
