@use "./../../../../styles/mixins" as *;

.form {
  display: grid;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2rem;
  @include screen(small) {
    grid-template-columns: 1fr 1fr;
    span:first-child,
    div:nth-child(2),
    div:nth-child(7),
    button:last-child {
      grid-column: 1 / 3;
    }
  }
  &__title {
    font-size: 1.12rem;
    font-weight: 700;
    color: #1e3056;
    @include screen(small) {
      font-size: 1.6rem;
    }
  }
  &__control {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    > label {
      color: #1e3056;
      font-size: 12px;
      font-weight: 700;
    }
    > input,
    > select,
    > textarea {
      background-color: transparent;
      color: #1e3056;
      &::placeholder {
        color: #1e3056;
        opacity: 0.6;
        font-size: 0.9rem;
      }
      &:focus,
      &:active {
        outline: none;
        border-color: #1e3056;
      }
    }
    > input,
    > select {
      border: 0;
      border-bottom: 1px solid #1e3056;
    }
    > textarea {
      border-color: #1e3056;
      border-radius: 0.5rem;
      padding: 0.5rem;
    }
    > select {
      color: #1e3056;
      font-size: 0.9rem;
      option {
        color: #1e3056;
        &:first-child {
          opacity: 0.6;
        }
      }
    }
  }
  > button {
    max-width: fit-content;
    margin: 0 auto;
  }
}

.opacity {
  color: rgba(30, 48, 86, 0.6) !important;
}
