<form class="form">
  <span class="form__title">Contact us today</span>
  <div class="form__control">
    <label for="">Full Name</label>
    <input type="text" placeholder="Enter your full name" />
  </div>
  <div class="form__control">
    <label for="">Email</label>
    <input type="email" placeholder="Enter your email adress" />
  </div>
  <div class="form__control">
    <label for="">Phone number</label>
    <input type="tel" placeholder="Enter your phone number" />
  </div>
  <div class="form__control">
    <label for="">City</label>
    <select [class.opacity]="true">
      <option hidden selected>Select</option>
      <option value="1">Los Angeles</option>
      <option value="2">San Diego</option>
      <option value="3">San Francisco</option>
      <option value="4">Sacramento</option>
      <option value="5">San Jose</option>
      <option value="6">Other</option>
    </select>
  </div>
  <div class="form__control">
    <label for="">Business type</label>
    <select [class.opacity]="true">
      <option hidden selected>Select</option>
      <option value="1">Florists</option>
      <option value="2">Event planners</option>
      <option value="3">Gift shops</option>
      <option value="4">Bouquet Makers</option>
      <option value="5">Wholesalers & Distributors</option>
      <option value="6">Other</option>
    </select>
  </div>
  <div class="form__control">
    <label for="">Message</label>
    <textarea placeholder="How can we help you?" rows="4"></textarea>
  </div>
  <button type="button" class="btn primary-button">Send message</button>
</form>
