<form class="form" [formGroup]="form">
  <span class="form__title">Contact us today</span>
  <div class="form__control">
    <label for="">Full Name</label>
    <input
      type="text"
      placeholder="Enter your full name"
      formControlName="fullname"
    />
  </div>
  <div class="form__control">
    <label for="">Email</label>
    <input
      type="email"
      placeholder="Enter your email adress"
      formControlName="email"
    />
  </div>
  <div class="form__control">
    <label for="">Phone number</label>
    <input
      type="tel"
      placeholder="Enter your phone number"
      formControlName="phone"
    />
  </div>
  <div class="form__control">
    <label for="">City</label>
    <input type="text" placeholder="Enter your city" formControlName="city" />
  </div>
  <div class="form__control">
    <label for="">Business type</label>
    <select [class.opacity]="true" formControlName="type">
      <option hidden selected>Select</option>
      <option value="Florists">Florists</option>
      <option value="Event planners">Event planners</option>
      <option value="Gift shops">Gift shops</option>
      <option value="Bouquet Makers">Bouquet Makers</option>
      <option value="Wholesalers & Distributors">
        Wholesalers & Distributors
      </option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="form__control">
    <label for="">Message</label>
    <textarea
      placeholder="How can we help you?"
      rows="4"
      formControlName="message"
    ></textarea>
  </div>
  <button
    type="button"
    class="btn primary-button"
    [disabled]="loading"
    (click)="postForm()"
  >
    {{ loading ? "Sending..." : "Send message" }}
  </button>
</form>
