<button
  class="btn menu__button"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasExample"
  aria-controls="offcanvasExample"
>
  <img src="./icons/list.svg" alt="menu" />
</button>

<div
  class="offcanvas offcanvas-end menu__offcanvas"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-body text-center">
    <div class="menu__offcanvas-body">
      <figure>
        <img src="./images/logo.png" alt="logo" />
      </figure>
      <div class="d-flex flex-column gap-5">
        <a data-bs-dismiss="offcanvas" (click)="onNavigate('#who-we-serve')"
          >Who we serve</a
        >
        <a data-bs-dismiss="offcanvas" (click)="onNavigate('#our-qualities')"
          >Why choose us</a
        >
        <a data-bs-dismiss="offcanvas" (click)="onNavigate('#contact')"
          >Sales & contact</a
        >
      </div>
      <div class="menu__offcanvas-footer">
        <figure>
          <img src="./images/mark.png" alt="mark" />
        </figure>
        <button
          type="button"
          class="btn"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
