<section id="our-qualities" class="why-choose">
  <article class="why-choose__container content">
    <h3 class="why-choose__title">Why choose Mariposa Growers?</h3>
    <figure class="why-choose__image">
      <img src="./images/choose.png" alt="why choose mariposa growes" />
    </figure>
    <div class="why-choose__items">
      <div>
        <span>Fair prices</span>
        <span>Competitive rates without compromissing quality.</span>
      </div>
      <div>
        <span>Fresh deliveries</span>
        <span>Direct from our farms to your door.</span>
      </div>
      <div>
        <span>Wide variety</span>
        <span>From classic roses to a variety of flowers, we have it all.</span>
      </div>
      <div>
        <span>Sustainability</span>
        <span>Eco-friendly practices for a greener future.</span>
      </div>
      <div>
        <span>Reliability</span>
        <span>Consistent quality and on-time deliveries.</span>
      </div>
    </div>
  </article>
</section>
