<section class="main">
  <article class="main__content content">
    <div class="main__container">
      <h1 class="main__title">
        Your premier supplier for High-Quality Mexican-Grown Flowers in
        California!
      </h1>
      <p>
        Fresh, vibrant, and sustainably grown flowers delivered to florists,
        bouquet makers, and wholesalers across California.
      </p>
      <a href="#contact" class="btn primary-button">Get started</a>
    </div>
  </article>
  <img class="main__mark" src="./images/mark.png" alt="mark" />
</section>
