<section class="great-delivery">
  <div class="great-delivery__flower1"></div>
  <article class="great-delivery__info content">
    <figure class="great-delivery__image">
      <img src="./images/delivery.webp" alt="great delivery" />
    </figure>
    <div class="great-delivery__text">
      <h2 class="great-delivery__title">Your price, great delivery</h2>
      <p>
        At Mariposa Growers, we believe in fair pricing and exceptional service.
        Enjoy competitive rates and fresh, reliable deliveries straight from our
        farms to your business.
      </p>
      <a href="#contact" class="btn second-button">Get started</a>
    </div>
  </article>
  <div class="great-delivery__flower2"></div>
</section>
