@use "./../../../styles/mixins" as *;

.great-delivery {
  position: relative;
  overflow: hidden;
  &__info {
    padding: 6rem 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  &__text {
    flex: 1;
    min-width: 300px;
    > p {
      color: #424242;
    }
    @include screen(small) {
      padding-bottom: 2.5rem;
    }
  }
  &__image {
    position: relative;
    min-width: 300px;
    max-width: 400px;
    @include screen(custom, max, 768) {
      margin-right: 5rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      right: -5rem;
      background-image: url("../../../../public/images/delivery_text.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      max-width: 11.5rem;
      max-height: 10.5rem;
      animation: rotate 15s linear infinite;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: #395aa2;
    max-width: 15rem;
  }
  &__flower1,
  &__flower2 {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__flower1 {
    height: 250px;
    width: 250px;
    top: -2rem;
    left: -5rem;
    background-image: url("../../../../public/images/flower1.svg");
    @include screen(small) {
      height: 350px;
      width: 350px;
      top: -2rem;
      right: -5rem;
      left: auto;
    }
  }
  &__flower2 {
    height: 370px;
    width: 370px;
    bottom: -12rem;
    right: -8rem;
    background-image: url("../../../../public/images/flower2.svg");
    @include screen(small) {
      height: 630px;
      width: 630px;
      bottom: -16rem;
      left: -13rem;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
